
<div class="container">
    <div class="container" style="margin-top: 10%;">
    <div class="row">
        <h2 style="margin-left: 26%; font-size: 200%; color: #7386D5;">
           <strong> Welcome to the Highmark Health!!!</strong>
           
        </h2>
        <q style="margin-left: 34%; ">Please login to continue using this software.</q>
    </div>
    </div>
<div class="row">
    <div class="row g-3 p-2">
      <div class="col-md-6 col-lg-4 c">
        <div class="card">
    <img src="https://img.freepik.com/free-vector/man-working-computer-office-table_3446-96.jpg?w=1380&t=st=1673198438~exp=1673199038~hmac=8ad1a914c9c220a04e260e430dde638e73c219ebac928d204bfe0a057e5b2aaf" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Clerk Login</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <div routerLink="/login">
      <a  class="btn btn-primary">Login Now</a>
    </div>
    </div>
  </div>
      </div>
      <div class="col-md-6 col-lg-4 c">
        <div class="card">
    <img src="https://img.freepik.com/free-vector/clerk-bank-receiving-money_1325-400.jpg?w=1380&t=st=1673199101~exp=1673199701~hmac=2fa442004da94cf7470c3f591f8fb8318122eedecf1a80f5db63ad09f9358a18" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Billing Login</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <div routerLink="/login">
        <a class="btn btn-primary">Login Now</a>
        </div>
    </div>
  </div>
      </div>
      <div class="col-md-6 col-lg-4 c">
        <div class="card">
    <img src="https://img.freepik.com/free-vector/illustrated-business-person-meditating_52683-60757.jpg?w=1380&t=st=1673198598~exp=1673199198~hmac=5e2672da60fcb16e98ca56d14953c903d4e7f9c08b668b62a447d3b57ca467ec" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="margin-top: 18%;">Admin</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <div routerLink="/login">
        <a class="btn btn-primary">Login Now</a>
        </div>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>