<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Paperless Hospital</h3>
            <strong>PH</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa-solid fa-house"></i>                    
                    Home
                </a>
                
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-briefcase"></i>
                    Clerk
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa-duotone fa-toolbox"></i>                    
                    Admin
                </a>
                
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-user-doctor"></i>
                    Doctor
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-briefcase-medical"></i>
                    Allotment
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-address-card"></i>
                    Contact
                </a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="#" class="download">Some Button</a></li>
            <li><a href="#" class="article">Some Button</a></li>
        </ul>
    </nav>

    <!-- Page Content Holder
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Page</a></li>
                    </ul>
                </div>
            </div>
        </nav>

         </div> -->
         <app-welcome-screen></app-welcome-screen>
</div>

